#home {
    color: blue;
    /*width: 20px;
    height: 25px;*/
}
#hi {
    color: green;
    justify-items: flex-end;
    justify-content: center;
}
.data{
    border: 2px solid black;
    margin: 50px;
    width: 25px;
    height: 50px;
}
/* .table{
    color: blue;
} */
/* #row{
    color: blueviolet;
    border: 1px solid;
}
#row1{
    color: brown;
    border: 1px solid;
}
.row2{
    /* display: flex; */
    /* color: green;
    border: 1px solid;
    */
/* } */
/* #row,#row1,.row2{
    /* display: flex; */
    /* justify-items: center; */
    /* border: 2px solid; */ 
/* }  */
.table{
    display: flex;
    border: 3px solid red;
    justify-content: center;
    width: 250px;

}
/* .data{
    border: 1px solid;
} */
.head{
    border: 1px solid pink;
}
.data2{
    border: 1px solid brown;
}
#row1{
    border: 1px solid blue;
    color: red;
}